In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
car_price_dataset_url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
columns = [ 'Make', 'Model', 'Year', 'Engine HP',
           'Engine Cylinders', 'Transmission Type',
           'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']
df = pd.read_csv(car_price_dataset_url, usecols=columns)
df.columns = df.columns.str.lower().str.replace(' ', '_')
for col in df.select_dtypes('object').columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')
df.engine_hp.fillna(0, inplace=True)
df.engine_cylinders.fillna(0, inplace=True)
df['above_average'] = (df.msrp > df.msrp.mean()).astype('int')
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   msrp               11914 non-null  int64
 10  above_average      11914 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1024.0+ KB

In [4]:
X = df.drop(['msrp', 'above_average'], axis=1)
y = df.above_average

In [5]:
from sklearn.model_selection import train_test_split
X_full_train, X_test, y_full_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=1)

In [6]:
X_train.shape, X_test.shape, X_val.shape, y_train.shape, y_test.shape, y_val.shape

((7148, 9), (2383, 9), (2383, 9), (7148,), (2383,), (2383,))