In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ca_housing_dataset_url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
df = pd.read_csv(ca_housing_dataset_url)

In [3]:
df.head().T

                           0         1         2         3         4
longitude            -122.23   -122.22   -122.24   -122.25   -122.25
latitude               37.88     37.86     37.85     37.85     37.85
housing_median_age      41.0      21.0      52.0      52.0      52.0
total_rooms            880.0    7099.0    1467.0    1274.0    1627.0
total_bedrooms         129.0    1106.0     190.0     235.0     280.0
population             322.0    2401.0     496.0     558.0     565.0
households             126.0    1138.0     177.0     219.0     259.0
median_income         8.3252    8.3014    7.2574    5.6431    3.8462
median_house_value  452600.0  358500.0  352100.0  341300.0  342200.0
ocean_proximity     NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY

### Question 1

What's the version of Pandas that you installed?

In [4]:
pd.__version__

'2.0.3'

### Question 2

How many columns are in the dataset?

In [5]:
df.shape[1]

10

### Question 3

Which columns in the dataset have missing values?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

How many unique values does the `ocean_proximity` column have?

In [8]:
df.ocean_proximity.nunique()

5

In [9]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

In [10]:
df.median_house_value[df.ocean_proximity == 'NEAR BAY'].mean().round(3)

259212.312

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the fillna method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

In [11]:
total_bedrooms_mean = df.total_bedrooms.mean().round(3)
total_bedrooms_mean

537.871

In [12]:
new_total_bedrooms_mean = df.total_bedrooms.fillna(total_bedrooms_mean).mean().round(3)
new_total_bedrooms_mean

537.871

In [13]:
df.total_bedrooms.fillna(total_bedrooms_mean).info()

<class 'pandas.core.series.Series'>
RangeIndex: 20640 entries, 0 to 20639
Series name: total_bedrooms
Non-Null Count  Dtype
--------------  -----
20640 non-null  float64
dtypes: float64(1)
memory usage: 161.4 KB

Is there a difference in the average of the `total_bedrooms`?

In [14]:
new_total_bedrooms_mean - total_bedrooms_mean

0.0

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

In [15]:
X = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()

In [16]:
X.shape

(5, 3)

In [17]:
X.T.shape

(3, 5)

In [18]:
XTX = np.dot(X.T, X)

In [19]:
XTX.shape

(3, 3)

In [20]:
y = np.array([950, 1300, 800, 1000, 1300])

In [21]:
w = np.dot(np.dot(np.linalg.inv(XTX), X.T), y)

What is the value of the last element of w?

In [22]:
w[-1].round(4)

5.6992