In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
car_price_dataset_url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
columns = ['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']
df = pd.read_csv(car_price_dataset_url, usecols=columns)
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.rename(columns={'msrp': 'price'}, inplace=True)
categorical_columns = df.select_dtypes('object').columns.to_list()
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [3]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11845 non-null  float64
 4   engine_cylinders   11884 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [5]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [6]:
df.engine_hp.fillna(0, inplace=True)
df.engine_cylinders.fillna(0, inplace=True)
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [7]:
df.nunique()

make                   48
model                 914
year                   28
engine_hp             357
engine_cylinders        9
transmission_type       5
vehicle_style          16
highway_mpg            59
city_mpg               69
price                6049
dtype: int64

### Question 1

What is the most frequent observation (mode) for the column `transmission_type`?

* AUTOMATIC
* MANUAL
* AUTOMATED_MANUAL
* DIRECT_DRIVE

In [8]:
df.transmission_type.value_counts(ascending=False)

transmission_type
automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: count, dtype: int64

### Question 2

Create the _correlation matrix_ for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset. What are the two features that have the biggest correlation in this dataset?

* `engine_hp` and `year`
* `engine_hp` and `engine_cylinders`
* `highway_mpg` and `engine_cylinders`
* `highway_mpg` and `city_mpg`

In [9]:
df_numeric = df.select_dtypes(np.number)
df_numeric.corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

Make price binary

* Now we need to turn the price variable from numeric into a binary format.
* Let's create a variable `above_average` which is 1 if the price is above its mean value and 0 otherwise.

In [10]:
df['above_average'] = (df.price > df.price.mean()).astype('int')
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0

Split the data

* Split your data in train / val / test sets with 60% / 20% / 20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to 42.
* Make sure that the target value (`price`) is not in your dataframe.

In [11]:
X = df.drop(['price', 'above_average'], axis=1)
y = df.above_average
X.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18

In [12]:
from sklearn.model_selection import train_test_split
X_full_train, X_test, y_full_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=42)

In [13]:
X_train = X_train.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
X_val = X_val.reset_index(drop=True)
y_val = y_val.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [14]:
X_train.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,mitsubishi,endeavor,2011,225.0,6.0,automatic,4dr_suv,19,15
1,kia,borrego,2009,276.0,6.0,automatic,4dr_suv,21,17
2,lamborghini,gallardo,2012,570.0,10.0,manual,convertible,20,12
3,chevrolet,colorado,2016,200.0,4.0,automatic,crew_cab_pickup,27,20
4,pontiac,vibe,2009,158.0,4.0,automatic,4dr_hatchback,26,20

In [15]:
X_train.shape, X_val.shape, X_test.shape

((7148, 9), (2383, 9), (2383, 9))

In [16]:
y_train.shape, y_val.shape, y_test.shape

((7148,), (2383,), (2383,))

### Question 3

Calculate the mutual information score between `above_average` and other categorical variables in our dataset. Use the training set only. Round the scores to 2 decimals using `round(score, 2)`.

Which of these variables has the lowest mutual information score?

* `make`
* `model`
* `transmission_type`
* `vehicle_style`

In [17]:
from sklearn.metrics import mutual_info_score
X_cat_train = X_train.select_dtypes('object')

In [18]:
def mutual_info_above_average_score(series):
    return mutual_info_score(series, y_train)

In [19]:
mi_sc = X_cat_train.apply(mutual_info_above_average_score)
mi_sc.sort_values(ascending=False).round(2)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

### Question 4

Now let's train a logistic regression. Remember that we have several categorical variables in the dataset. Include them using one-hot encoding. Fit the model on the training dataset. To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
* `model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)`

Calculate the accuracy on the validation dataset and round it to 2 decimal digits. What accuracy did you get?

* 0.60
* 0.72
* 0.84
* 0.95

In [20]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [21]:
def select_df_columns_for_dictvectorizer(df_train, df_val, columns):
    X_train_dict = df_train[columns].to_dict(orient='records')
    X_val_dict = df_val[columns].to_dict(orient='records')
    dv = DictVectorizer()
    X_onehot_train = dv.fit_transform(X_train_dict)
    X_onehot_val = dv.transform(X_val_dict)
    return X_onehot_train, X_onehot_val

In [22]:
columns = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
X_onehot_train, X_onehot_val = select_df_columns_for_dictvectorizer(X_train, X_val, columns)

In [23]:
X_onehot_train.shape

(7148, 943)

In [24]:
def calculate_accuracy(X_train, y_train, X_val, y_val):
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    return accuracy_score(y_pred, y_val)

In [25]:
full_accuracy = calculate_accuracy(X_onehot_train, y_train, X_onehot_val, y_val)
round(full_accuracy, 2)

0.94

### Question 5

Let's find the least useful feature using the feature elimination technique. Train a model with all these features (using the same parameters as in Q4). Now exclude each feature from this set and train a model without it. Record the accuracy for each model. For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

* `year`
* `engine_hp`
* `transmission_type`
* `city_mpg`

> Note: the difference doesn't have to be positive

In [26]:
for col in ['year', 'engine_hp', 'transmission_type', 'city_mpg']:
    partial_columns = list(set(columns) - set([col]))
    X_onehot_train, X_onehot_val = select_df_columns_for_dictvectorizer(X_train, X_val, partial_columns)
    print(f'{col:<20} {round(full_accuracy-calculate_accuracy(X_onehot_train, y_train, X_onehot_val, y_val), 2)}')

year                 -0.01
engine_hp            0.01
transmission_type    -0.0
city_mpg             -0.01

### Question 6

For this question, we'll see how to use a linear regression model from Scikit-Learn. We'll need to use the original column price. Apply the logarithmic transformation to this column. Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42. This model also has a parameter _alpha_. Let's try the following values: [0, 0.01, 0.1, 1, 10]. Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

* 0
* 0.01
* 0.1
* 1
* 10

> Note: If there are multiple options, select the smallest alpha.

In [27]:
y_lr = np.log1p(df.price)

In [28]:
X_full_train, X_test, y_full_train, y_test = train_test_split(X, y_lr, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=42)

In [29]:
X_onehot_train, X_onehot_val = select_df_columns_for_dictvectorizer(X_train, X_val, columns)

In [30]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [31]:
def evaluate_alpha_on_ridge(alpha):
    rr = Ridge(solver='sag', random_state=42, alpha=alpha)
    rr.fit(X_onehot_train, y_train)
    y_pred = rr.predict(X_onehot_val)
    return np.sqrt(mean_squared_error(y_pred, y_val))

In [32]:
for alpha in [0, 0.01, 0.1, 1, 10]:
    print(f'alpha: {alpha:<6} RMSE: {round(evaluate_alpha_on_ridge(alpha), 3)}')

alpha: 0      RMSE: 0.251
alpha: 0.01   RMSE: 0.255
alpha: 0.1    RMSE: 0.255
alpha: 1      RMSE: 0.258
alpha: 10     RMSE: 0.331