In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ca_housing_dataset_url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
df = pd.read_csv(ca_housing_dataset_url)

In [3]:
df.head(n=10).T

,0,1,2,3,4,5,6,7,8,9
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912
median_house_value,452600.0,358500.0,352100.0,341300.0,342200.0,269700.0,299200.0,241400.0,226700.0,261100.0
ocean_proximity,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY

In [4]:
df[(df.ocean_proximity == '<1H OCEAN') | (df.ocean_proximity == 'INLAND')].head(8).T

,701,830,859,860,861,862,863,870
longitude,-121.97,-121.99,-121.97,-121.96,-121.98,-121.99,-122.0,-121.93
latitude,37.64,37.61,37.57,37.58,37.58,37.58,37.58,37.49
housing_median_age,32.0,9.0,21.0,15.0,20.0,31.0,6.0,5.0
total_rooms,1283.0,3666.0,4342.0,3575.0,4126.0,2878.0,4405.0,1150.0
total_bedrooms,194.0,711.0,783.0,597.0,1031.0,478.0,717.0,311.0
population,485.0,2341.0,2172.0,1777.0,2079.0,1276.0,2071.0,648.0
households,171.0,703.0,789.0,559.0,975.0,485.0,688.0,245.0
median_income,6.0574,4.6458,4.6146,5.7192,3.6832,6.2073,5.8151,3.5714
median_house_value,431000.0,217000.0,247600.0,283500.0,216900.0,282500.0,295600.0,300000.0
ocean_proximity,<1H OCEAN,<1H OCEAN,<1H OCEAN,<1H OCEAN,<1H OCEAN,<1H OCEAN,<1H OCEAN,<1H OCEAN

In [5]:
df[(df.ocean_proximity == '<1H OCEAN') | (df.ocean_proximity == 'INLAND')].tail(8).T

,20632,20633,20634,20635,20636,20637,20638,20639
longitude,-121.45,-121.53,-121.56,-121.09,-121.21,-121.22,-121.32,-121.24
latitude,39.26,39.19,39.27,39.48,39.49,39.43,39.43,39.37
housing_median_age,15.0,27.0,28.0,25.0,18.0,17.0,18.0,16.0
total_rooms,2319.0,2080.0,2332.0,1665.0,697.0,2254.0,1860.0,2785.0
total_bedrooms,416.0,412.0,395.0,374.0,150.0,485.0,409.0,616.0
population,1047.0,1082.0,1041.0,845.0,356.0,1007.0,741.0,1387.0
households,385.0,382.0,344.0,330.0,114.0,433.0,349.0,530.0
median_income,3.125,2.5495,3.7125,1.5603,2.5568,1.7,1.8672,2.3886
median_house_value,115600.0,98300.0,116800.0,78100.0,77100.0,92300.0,84700.0,89400.0
ocean_proximity,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND